[Unit]
Description=Update Slack status with current location
After=network.target

[Service]
ExecStart=/usr/local/bin/slack-status

[Install]
WantedBy=timers.target
