[Unit]
Description=Update Slack status with current location
After=suspend.target hibernate.target hybrid-sleep.target

[Service]
ExecStart=/usr/local/bin/slack-status -vv -n

[Install]
WantedBy=timers.target suspend.target hibernate.target hybrid-sleep.target
