[Unit]
Description=Update Slack status with current location

[Service]
Environment=RUST_LOG=slack_status=info
ExecStart=/usr/local/bin/slack-status

[Install]
WantedBy=timers.target
