token = ""

[defaults]
text = "on the move"
emoji = ":mountain_railway:"

[[locations]]
ip_addresses = ["123.45.56.78", "2a01::12ab"]
text = "working remotely"
emoji = ":house_with_garden:"

[[locations]]
ip_addresses = ["98.76.54.32", "98.76.54.33"]
text = "at office"
emoji = ":office:"
